<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="#">
</head>
<body>
<form mathod="GET" action="/emp">
    {% csrf_token %}
    <br>
    <h3>Enter Detail</h3><br>
    <p> EmployeeId: </p>{{form.eid}}<br>

    <p> EmployeeName: </p>{{form.ename}}<br>

    <p> EmployeeEmail: </p>{{form.email}}<br>

    <p> EmployeeContact: </p>{{form.econtact}}<br>
    <input type="submit">Submit</input>
</form>
</body>
</html>