<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EmployeeRecord</title>
    {% load staticfiles  %}
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body>
<p>User Name:{{uname}}</p>
<br>
<p><a href="/logout">Logout</a></p>
<table>
    <tr>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Employee Enail</th>
        <th>Employee Contact</th>
        <th>Action</th>
    </tr>
    <tbody>

    {% for employee in employees %}
    <tr>
        <td>{{ employee.eid}}</td>
        <td>{{ employee.ename}}</td>
        <td>{{ employee.email}}</td>
        <td>{{ employee.econtact}}</td>
        <td>
            <a href="/edit/{{ employee.id }}" >Edit</a>
            <a href="/delete/{{ employee.id}}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<br>
<a href="/" >Add New Record</a>
</body>
</html>